@CHARSET "UTF-8";

html, body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: "Liberation Sans", Helvetica, "돋움", dotum, sans-serif;
	font-size: 1em;
}

table {
	border-collapse: collapse;
}

form {
	margin: 0;
	padding: 0;
}

input, select, textarea, td, th {
	color: #646464;
	font-family: "돋움", dotum, sans-serif;
	font-size: 12px;
}

#mainNav {
	font-family: Verdana, sans-serif;
	font-weight: bold;
}

#mainNav>ul {
	margin: 0;
	padding: 0;
}

.main-menu-item {
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 14px;
	border: 2px solid #DAEAAA;
}

.main-menu-item > a {
	margin: 0;
	padding-top: 7px;
	height: 30px;
	display: block;
	text-decoration: none;
	color: #FFF;
	background: #92B91C;
}

.main-menu-item > a:hover {
	color: #333;
}

#login {
	text-align: right;
	height: 20px;
	padding: 5px 3px;
	font-size: 14px;
	font-family: tahoma, arial, sans-serif;
	border-bottom: 1px solid #DAEAAA;
	margin-bottom: 7px;
}

#content-wrap {
	width: 100%;
}

article {
	margin: 0;
	padding: 0;
}

#sidebar {
	font-family: Verdana, sans-serif;
	background: #FFF;
}

#secondaryNav {
	border: 1px solid #DAEAAA;
}

#secondaryNav > ul {
	margin: 0;
	padding: 0;
}

#secondaryNav > strong {
	display: block;
	padding: 14px;
	color: #FFF;
	background: #92B91C;
	text-transform: capitalize;
}

.sub-section-title {
	list-style-type: none;
	color: #64615d;
	background-color: #DAEAAA;
	padding: 6px 10px 6px 10px;
	border-bottom: 1px solid #fff;
	font-weight: bold;
	font-size: 12px;
}

#sub-menu > li {
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#sub-menu > li > a {
	display: block;
	padding: 15px 3px 14px 17px;
	margin: 0;
	color: #64615d;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 1px solid #fff;
	background: #fff
}

#sub-menu> li > a:hover {
	background-color: #EDFEBA;
	color: #64615d;
}

aside {
	display: none;
}

article>h1 {
	margin: 0;
	padding: 5px 0;
	font-size: 1.3em;
}

.bbs-table {
	width: 100%;
}

.bbs-table th {
	color: #92B91C;
	border-top: 1px solid #92B91C;
	border-bottom: 1px solid #92B91C;
}

.bbs-table td {
	padding: 3px 0;
	border-bottom: 1px solid silver;
}

.bbs-table td a {
	color: #555;
	text-decoration: none;
}

.bbs-table td a:hover {
	color: #555;
	text-decoration: underline;
}

#paging {
	font-family: "돋움", dotum, sans-serif;
	font-size: 13px;
	text-align: center;
}

#paging>a {
	color: #555;
	text-decoration: none;
	font-weight: bold;
}

#paging>a:hover {
	color: #555;
	text-decoration: underline;
}

.attach {
	color: #92B91C;
}

.reply {
	color: #FFA500;
}

.current-page {
	color: #FFA500;
}

#list-menu {
	text-align: right;
}

#search {
	text-align: center;
}

.bbs-table {
	margin-bottom: 7px;
}

#search {
	text-align: center;
	padding-bottom: 15px;
}

#date-writer-read {
	font-family: tahoma, arial, sans-serif;
	font-size: 11px;
	color: #555;
	text-align: right;
}

#content {
	font-size: 13px;
	margin: 3px 0 15px 0;
	padding: 0;
	color: #555;
}

.comments {
	border-top: 1px solid #ebebeb;
	border-right: 1px solid #ebebeb;
	border-left: 1px solid #ebebeb;
	font-size: 13px;
}

.comments-writer {
	display: block;
	float: left;
	margin: 3px;
	padding: 0;
	font-weight: bold;
}

.comments-date {
	display: block;
	float: left;
	margin: 3px;
	padding: 0;
}

.comments-modify-del {
	display: block;
	float: right;
	margin: 3px;
	padding: 0;
}

.comments a {
	color: #555;
	text-decoration: none;
}

.comments a:hover {
	color: #555;
	text-decoration: underline;
}

.comments>p {
	clear: both;
	margin: 0;
	padding: 0 3px 3px 3px;
}

.modify-comments {
	clear: both;
	padding: 0.22em 2.22em 0.22em 3.22em;
}

.modify-comments-ta {
	border: 1px solid silver;
	padding: 3px;
	width: 99%;
	color: #555;
	background: #eee;
}

#add-comments {
	margin-bottom: 5px;
	padding: 0.22em;
	border: 1px solid #eee;
	background: #fafbf7;
}

#add-comments>textarea {
	width: 99%;
	padding: 3px;
	border: 0;
	color: #555;
}

#next-prev {
	margin: 7px 0;
	border-top: 1px solid #e1e1e1;
}

#next-prev>p {
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid #e1e1e1;
	color: #333;
	font-size: 12px;
}

#next-prev a {
	color: #333;
	text-decoration: none;
}

#next-prev a:hover {
	color: #333;
	text-decoration: underline;
}

article > h2 {
	margin: 9px 0 0 0;
	padding: 0;
	font-size: 1.1em;
	border-bottom: 1px solid #ebebeb;
}

pre {
	font-size: 0.93em;
	line-height: 1.3;
}

a:link {
	color: #2C80D0;
	text-decoration: none;
}

a:visited {
	color: #2C80D0;
	text-decoration: none;
}

a:active {
	color: #2C80D0;
	text-decoration: none;
}

a:hover {
	color: #2C80D0;
	text-decoration: underline;
}

.code {
	margin: 10px 0 5px 0;
	padding: 3px 3px 0 3px;
	color: #333;
	border: silver 2px dotted;
	background-color: #FAF9F4;
}

.screen {
	margin-top: 20px;
	margin-bottom: 10px;
	padding: 5px;
	padding-top: 32px;
	font-weight: bold;
	color: #C0C0C0;
	border: 1px solid silver;
	background-image: url("../images/Command-Prompt.png");
	background-position: 0% 0%;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: #000;
}

.shell-prompt {
	padding: 5px;
	color: #FFF;
	background-color: #300a24;
}

.result {
	padding: 5px;
	border: 1px solid grey;
}

.syntax {
	padding: 5px;
	border: 1px dotted #999;
}
#navigator {
	padding: 5px 0;
	font-size: 11px;
	line-height: 1;
	font-family: tahoma, arial, sans-serif;
}

#last-modified {
	padding-top: 3px;
	text-align: right;
	font-family: tahoma, arial, sans-serif;
	font-size: 9px;
	line-height: 1;
	color: #7a7a7a;
}
article > h2 {
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 1.2em;
}

article > h3 {
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 1.1em;
}

article > h4 {
	margin-top: 5px;
	margin-bottom: 0;
	font-size: 1em;
}

article > h5 {
	margin-top: 3px;
	margin-bottom: 0;
	font-size: 0.94em;
}

.filename {
	display: block;
	font-style: normal;
	position: relative;
	top: 1em;
}

#refer {
	display: block;
	margin-top: 15px;
	padding-bottom: 3px;
	color: #236CAC;
	font-weight: bold;
	line-height: 1;
	border-bottom: 2px solid #236CAC;
}
footer {
	font-family: "돋움", dotum, sans-serif;
	font-size: 11px;
	margin-bottom: 7px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #8d8d8d;
	border-top: 1px solid #DAEAAA;
}
footer > ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

footer > ul > li {
	margin: 0;
	padding: 0;
	display: inline;
}
.table-in-article {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100%;
}

.table-in-article-td {
	padding: 5px 6px 3px 6px;
	border: silver 1px solid;
}

.table-in-article-th {
	padding: 5px 6px 3px 6px;
	border: silver 1px solid;
	text-align: left;
	border: silver 1px solid;
}

.table-in-article-caption {
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-align: left;
}

#prev-next {
	margin-top: 10px;
	padding: 1em 1em 1em 0;
	border: silver 1px solid;
	background-color: #FAF9F4;
	line-height: 1.6;
	font-size: 0.9em;
}

.note {
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.95em;
}

.note > dt {
	margin: 0;
	padding-top: 4px;
	padding-right: 3px;
	padding-left: 43px;
	padding-bottom: 3px;
	margin-bottom: 3px;
	color: #000;
	background: #efefef url('../images/ref.png') no-repeat center left;
}

.emphasis {
	font-family: Verdana, sans-serif;
	font-weight: bold;
	color: red;
}

.api-summary {
	border: 1px solid #C8CDD2;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.api-summary-dt {
	font-weight: bold;
	padding-left: 5px;
}

.api-summary-dd {
	color: #666;
	margin-left: 10px;
	font-style: normal;
	font-weight: bold;
}

.api-summary-dd-class-desc {
	font-style: normal;
	font-weight: normal;
	margin: 0;
	padding: 3px 5px 0 5px;
}

.bottom-line {
	border-bottom: 1px solid #C8CDD2;
}

.api-summary-dd-method-desc {
	font-style: normal;
	font-weight: normal;
	margin-left: 1.5em;
}

.commandLine {
	font-weight: bold;
	color: black;
}

.console {
	padding: 25px 0 0 0;
	font-weight: bold;
	line-height: 1.4;
	border: 1px solid #BED4F1;
	background: #BED4F1 url('../images/Console.png') no-repeat 0% 0%;
}

.console-result {
	padding: 7px;
	background-color: #FFF;
	display: block;
}

#footer-ad {
	display: none;
}

.no-border {
	border: none !important;
	margin: 0.4em 0;
}

@media ( min-width : 768px) {
	#wrap {
		margin: 0 auto;
		width: 1004px;
	}
	header {
		height: 48px;
	}
	#mainNav {
		height: 35px;
		font-size: 12px;
		background: #92B91C;
		border: 2px solid #DAEAAA;
	}
	.main-menu-item {
		float: left;
		border: none;
	}
	.main-menu-item > a {
		padding-left: 20px;
		padding-right: 20px;
	}
	#login {
		clear: both;
	}
	#content-wrap {
		float: left;
	}
	article {
		margin-left: 185px;
		margin-right: 166px;
	}
	#sidebar {
		float: left;
		width: 179px;
		margin-left: -1004px;
	}
 	.sub-menu li > a {
		padding: 5px 3px 4px 12px;
	}
	aside {
		float: left;
		display: block;
		width: 161px;
		margin-left: -161px;
	}
	footer {
		clear: both;
		height: 70px;
		position: relative;
		top: 10px;
	}
	#ci {
		float: left;
		margin: 5px 0 7px 0;
	}
	#searchcontainer {
		float: right;
		margin: 0;
		padding: 3px 0 0 0;
		width: 50%;
	}
	.cse .gsc-control-cse, .gsc-control-cse {
		margin: 0 !important;
		padding: 0 !important;
	}
}