<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.java_school.mybatis.BoardMapper">

	<select id="selectAllBoards" resultType="Board">
		SELECT * FROM board
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (boardcd, boardnm, boardnm_ko) 
		VALUES (#{boardCd}, #{boardNm}, #{boardNm_ko})
	</insert>

	<update id="updateBoard" parameterType="Board">
		UPDATE board SET boardnm = #{boardNm}, boardnm_ko = #{boardNm_ko} WHERE boardcd = #{boardCd}
	</update>
	
	<select id="selectOneBoard" parameterType="string" resultType="Board">
		SELECT * FROM board WHERE boardcd = #{boardCd}
	</select>

	<insert id="insert" parameterType="Article" useGeneratedKeys="true" keyProperty="articleNo">
		INSERT INTO article (boardcd, title, content, owner, nickname, hit, regdate)
		VALUES
		(#{boardCd}, #{title}, #{content}, #{owner}, #{nickname}, 0, now())
	</insert>

	<insert id="insertAttachFile" parameterType="AttachFile">
		INSERT INTO attachfile 
		(filekey, filename, filetype, filesize, creation, articleno, owner)
		VALUES
		(#{filekey}, #{filename}, #{filetype}, #{filesize}, #{creation}, #{articleNo}, #{owner})
	</insert>

	<delete id="deleteFile" parameterType="string">
		DELETE FROM attachfile WHERE filekey = #{filekey}
	</delete>

	<select id="selectListOfArticles" resultType="Article">
		SELECT
		a.articleno, a.title, a.regdate, a.hit, a.nickname,
		count(distinct(f.attachfileno)) attachfileNum,
		count(distinct(c.commentno)) commentNum
		FROM
		article as a 
		left join attachfile as f on a.articleno = f.articleno
		left join comments as c on a.articleno = c.articleno
		WHERE
		a.boardcd = #{boardCd}
		<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' OR content LIKE
			'%${searchWord}%')
		</if>
		GROUP BY a.articleno, title, a.regdate, hit, a.nickname
		ORDER BY articleno
		DESC
		LIMIT #{offset}, #{rowCount}
	</select>

	<select id="selectCountOfArticles" parameterType="hashmap"
		resultType="int">
		SELECT count(*) FROM article
		WHERE
		boardcd = #{boardCd}
		<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' OR content LIKE
			'%${searchWord}%')
		</if>
	</select>

	<update id="updateHitPlusOne" parameterType="int">
		UPDATE article SET hit = hit + 1 WHERE articleno = #{articleNo}
	</update>

	<select id="selectOne" parameterType="int" resultType="Article">
		SELECT 
			articleno,
			title,
			content,
			owner,
			ifNull(nickname, 'Anonymous') nickname,
			hit,
			regdate
		FROM article
		WHERE 
			articleno = #{articleNo}
	</select>

	<select id="selectNextOne" parameterType="hashmap" resultType="Article">
		SELECT articleno, title 
		FROM article 
		WHERE 
			boardCd = #{boardCd} 
			AND articleno &gt; #{articleNo}
		<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' OR content LIKE '%${searchWord}%')
		</if> 
		ORDER BY articleno
		LIMIT 1
	</select>

	<select id="selectPrevOne" parameterType="hashmap" resultType="Article">
		SELECT articleno, title 
		FROM article 
		WHERE 
			boardCd = #{boardCd} 
			AND articleno &lt; #{articleNo}
		<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' OR content LIKE '%${searchWord}%')
		</if> 
		ORDER BY articleno DESC
		LIMIT 1
	</select>

	<select id="selectListOfAttachFiles" parameterType="int" resultType="AttachFile">
		SELECT 
			attachfileno,
			filename,
			filetype,
			filesize,
			articleno,
			owner,
			filekey,
			creation 
		FROM attachfile 
		WHERE articleno = #{articleNo} 
		ORDER BY attachfileno
	</select>

	<select id="selectListOfComments" parameterType="int" resultType="Comments">
		SELECT 
			commentno, 
			articleno, 
			owner, 
			ifNull(nickname, 'Anonymous') nickname,
			memo, 
			regdate
		FROM comments
		WHERE 
			articleno = #{articleNo}
		ORDER BY commentno DESC
	</select>

	<select id="selectOneAttachFile" parameterType="string" resultType="AttachFile">
		SELECT
			attachfileno,
			filename,
			filetype,
			filesize,
			articleno,
			owner,
			filekey,
			creation
		FROM
			attachfile
		WHERE
			filekey = #{filekey}
	</select>

	<delete id="deleteComments" parameterType="int">
		DELETE FROM comments WHERE commentno = #{commentNo}
	</delete>

	<insert id="insertComments" parameterType="Comments">
		INSERT INTO comments (articleno, owner, nickname, memo, regdate)
		VALUES (#{articleNo}, #{owner}, #{nickname}, #{memo}, now())
	</insert>

	<update id="updateComments" parameterType="Comments">
		UPDATE comments SET memo = #{memo} WHERE commentno = #{commentNo}
	</update>

	<update id="updateArticle" parameterType="Article">
		UPDATE article
		SET title = #{title}, content = #{content} 
		WHERE articleno = #{articleNo}
	</update>

	<delete id="deleteArticle" parameterType="int">
		DELETE FROM article WHERE articleno = #{articleNo}
	</delete>

	<select id="selectOneComments" parameterType="int" resultType="Comments">
		SELECT 
			commentno,
			articleno,
			owner,
			nickname,
			memo,
			regdate 
		FROM comments 
		WHERE
			commentno = #{commentNo}
	</select>

</mapper>