<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.java_school.mybatis.BoardMapper">
	<select id="selectAllBoard" resultType="Board">
		SELECT boardcd,boardnm
		FROM board
	</select>
	<select id="selectOneBoardName" parameterType="string"
		resultType="string">
		SELECT boardnm FROM board WHERE boardcd = #{boardCd}
	</select>
	<insert id="insert" parameterType="Article" useGeneratedKeys="true"
		keyProperty="articleNo">
		INSERT INTO article (boardcd, title, content, email, hit, regdate)
		VALUES
		(#{boardCd}, #{title}, #{content}, #{email}, 0, now())
	</insert>
	<insert id="insertAttachFile" parameterType="AttachFile">
		INSERT INTO
		attachfile (filekey, filename, filetype, filesize, creation, articleno, email)
		VALUES
		(#{filekey}, #{filename}, #{filetype},
		#{filesize}, #{creation}, #{articleNo}, #{email})
	</insert>
	<delete id="deleteFile" parameterType="string">
		DELETE FROM attachfile WHERE filekey = #{filekey}
	</delete>
	<select id="selectListOfArticles" resultType="Article">
		SELECT
		a.articleno, a.title, a.regdate, a.hit, m.name,
		count(distinct(f.attachfileno)) attachfileNum,
		count(distinct(c.commentno)) commentNum
		FROM
		article as a left join attachfile as f on a.articleno = f.articleno
		left join comments as c on a.articleno = c.articleno
		left join member as m on a.email = m.email
		WHERE
		a.boardcd = #{boardCd}
		<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' OR content LIKE
			'%${searchWord}%')
		</if>
		GROUP BY a.articleno, title, a.regdate, hit, m.name
		ORDER BY articleno
		DESC
		LIMIT #{offset}, #{rowCount}
	</select>

	<select id="selectCountOfArticles" parameterType="hashmap"
		resultType="int">
		SELECT count(*) FROM article
		WHERE
		boardcd = #{boardCd}
		<if test="searchWord != null and searchWord != ''">
			AND (title LIKE '%${searchWord}%' OR content LIKE
			'%${searchWord}%')
		</if>
	</select>

</mapper>